{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="row">
    <form role="form" method="POST">
      <div class="col-md-6">
        <h2>Tekst</h2>
        <textarea name="text" id="text" style="width:100%;height:600px">{% if text is defined %}{{ text }}{% endif %}</textarea>
        <p>&nbsp;</p>
        <button type="submit" id="extract-btn" class="btn btn-primary">Generuj streszczenie</button>
      </div>
      <div class="col-md-6">
        {% if extract is defined %}
        <h2>Streszczenie</h2>
        <table class="table">
          {% for sentence in extract %}
          <tr class="success"><td>{{ sentence }}</td></tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </form>
  </div>
</div>
<script>
$(document).ready(function () {
    $('#extract-btn').prop('disabled', $('#text').val() == '');

    $('#text').on('change keyup paste', function () {
        $('#extract-btn').prop('disabled', $('#text').val() == '');
    });
});
</script>
{% endblock %}
